---
layout: blog
title: All posts
---

<ul class="posts">
    {% for post in site.posts %}
    <li>
        <a class="posts__post" href="{{post.url}}">
            <section>
                <h3 class="posts__post__title">
                    <span>{{post.title}}</span>
                    <section class="posts__post__meta">
                    <span class="posts__post__meta__categories">
                        {% for category in post.categories %}
                        <span class="posts__post__meta__categories__category posts__post__meta__categories__category--{{category}}"></span>
                        {% endfor %}
                    </span>
                    &nbsp;
                    <span class="posts__post__meta__date">( {{post.date | date_to_string}} )</span>
                    </section>
                </h3>
                <p>
                    {{post.excerpt}}
                </p>
            </section>
        </a>
    </li>
    {% endfor %}
</ul>
