@import blocks
@import icomoon

.posts
  list-style-type: none
  padding: 0

  &__post
    @extend %block
    @extend %content
    display: block
    margin-bottom: 1em
    opacity: 0.8
    &:hover
      color: $color-text

    &__title
      margin-top: 0

    &__meta
      float: right

      &__categories,
      &__date
        vertical-align: middle

      &__categories
        &__category
          @extend %icon
          &--personal
            @extend .icon-user-tie
          &--research
            @extend .icon-library
        *
          vertical-align: baseline


      &__date
        font-weight: normal
        font-size: small
        font-style: italic

    &:hover
      opacity: 1

    section
      flex: 59

.post
  @extend %block
  @extend %content
  margin: auto
  margin-bottom: 2em

  p, li
    line-height: 2

#disqus_thread
  @extend %content
  padding: 0
