@import main

.posts
  list-style-type: none
  padding: 0

  &__post
    @extend %block
    color: #111
    display: block
    margin-bottom: 1em
    opacity: 0.8

    &__title
      margin-top: 0

    &__meta
      float: right

      &__categories,
      &__date
        vertical-align: middle

      &__categories
        *
          vertical-align: baseline


      &__date
        font-weight: normal
        font-size: small
        font-style: italic

    &:hover
      opacity: 1

    section
      flex: 59
      
.post
  @extend %block
